footer{
    width: 100vw;
    height: 15%;
    display: flex;
    justify-content: center;

}

.contentFooter{
    height: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid var(--color-background-t);
}

.titleFooter{
    font-size: 125%;
}
