main{
    width: 100vw;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;

    margin-top: 10vh;
}

.area{
    width: 100vw;
    height: auto;
    position: relative;
    border-bottom: 2px solid var(--color-background-t);
    height: 100vh;
}


.degradePreto{
    width: 100px;
    height: 100px;
    background-color: var(--cor-fundo);
}

/*Hora do SHOW*/

/*Apresetção*/
#Apresent{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    
}

.Apresentleft{
    display: flex;
    align-items: center;
    
}

#maoAberta{
    width: 70px;
    height: 70px;
    fill: var(--cor-letra);
    transform: rotateZ(330deg);
    

    animation: shake 3s infinite ease-in-out;
}

@keyframes shake {
    50%{
        transform: rotateZ(320deg);
    }
}

#handMove{
    width: 70px;
    height: 70px;
    fill: var(--cor-letra);
    transform: rotateZ(330deg);
    animation: move 20s;
}

@keyframes move {
    100%{
        transform: translateX(-10000px) rotateZ(330deg);
    }
}



.ApresentRight{
    display: flex;
    align-items: center;
    justify-content: center;
    
}



#sun{
    width: 100px;
    height: 100px;
    background-color: var(--color-destaque);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: red;
    font-size: 200%;

    box-shadow: 0 0 20px yellow;
    transition: 0.5s;

    animation: shrine 4s infinite;
    z-index: 1;
}




#sun:hover{
    transform: scale(1.2);
    cursor: pointer;

    font-size: 500%;
}

@keyframes shrine {
    50%{
        box-shadow: 0 0 50px yellow;;
    }
}

@keyframes Explodes {
    30%{
      transform: scale(0.1);  
    }

    99%{
        z-index: 0;
    }
    100%{
        transform: scale(9999);
        z-index: 9999;
    }
}

.clickAqui{
    fill: white;
    transform: translate3d(30px, 30px, 0px) rotate(0);
    width: 120px;
    height: 120px;
    animation: clicando 3s infinite ease-in-out;
}

@keyframes clicando {
    25%{
        transform: translate3d(30px, 30px, 0px) rotate(5deg) scale(1.1);
    }

    50%{
        transform: translate3d(30px, 30px, 0px) rotate(-15deg) scale(0.9);
    }

}

.maoSol{
    display: none;
}


#maoSusto{
    width: 200px;
    height: 200px;
    fill: var(--cor-letra);
    position: absolute;

    transform: scale(0.01) translateY(-6000px);

    animation: venha 5s forwards;
}

@keyframes venha {
    100%{
        transform: scale(1) translateY(0px);
    }
}


#maoGiro{
    width: 200px;
    height: 200px;
    fill: var(--cor-letra);
    position: absolute;

    animation: giro 1s forwards linear;
}

@keyframes giro {
    10%{
        transform: translateX(-10px);
    }

    20%{
        transform: translate(-20px) rotateY(10deg);
    }

    30%{
        transform: translate(-30px) rotateY(30deg);
    }

    40%{
        transform: translate(-40px) rotateY(50deg);
    }

    50%{
        transform: translate(-50px) rotateY(70deg);
    }

    60%{
        transform: translate(-40px) rotateY(100deg);
    }

    70%{
        transform: translate(-30px) rotateY(120deg);
        z-index: 2;
    }

    80%{
        transform: translate(-20px) rotateY(140deg);
        z-index: 2;
    }

    90%{
        transform: translate(-10px) rotateY(160deg);
        z-index: 2;
    }

    100%{
        transform: rotateY(180deg);
        z-index: 2;
    }
}

.pegada{
    display: none;
}

#pegadaSol{
    width: 200px;
    height: 200px;
    fill: var(--cor-letra);
    backdrop-filter: blur(30px);

    z-index: 2;
    position: absolute;

    animation: tremendo 0.3s infinite;
}
@keyframes tremendo {

    25%{
        transform: translateX(-2px) translateY(-2px) translateZ(-2px);
    }

    75%{
        transform: translateX(2px) translateY(2px) translateZ(-2px);
    }
}

/*colocar no body*/
.allTremelique{
    animation: tremendo 0.1s infinite;
}



/*New apresent*/





.SolarSystem{
    display: none;
    justify-content: center;
    align-items: center;
}


#newSun {
    width: 20vw;
    height: 20vw;
    background-color: var(--color-destaque);
    border-radius: 100%;
    box-shadow: 0 0 25px var(--color-destaque);
    position: relative;
}

.Desesplosion{
    transform: scale(9999);
    z-index: 9999;
    animation: Desesplosion 5s forwards;
}

@keyframes Desesplosion {
    100%{
        transform: scale(1);
        z-index: 1;
    }
}



.orbit-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    transform-origin: center;
    animation: orbit 5s infinite linear; 
}

#htmlPlanet {
  
    top: 4vw;
    left: -1.5vw;
    transform: translateY(-50%);
}

#cssPlanet{
    
    top: 5vw;
    left: 22vw;
    transform: translateY(-50%);
}

#javaScriptPlanet{
    
    top: 26vw;
    left: 7vw;
    transform: translateY(-50%);
}


@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

#javaScriptPlanet, #cssPlanet, #htmlPlanet{
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    position: absolute;
}


.orbit-trail {
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--color-background-t);
    box-shadow: 0 0 5px var(--color-background-t);
    pointer-events: none;
}



#HTMLOrbit {
    width: 24vw;
    height: 24vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#CSSOrbit {
    width: 28vw;
    height: 28vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#javaScriptOrbit {
    width: 32vw;
    height: 32vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.explosionSolar1{
    width: 16vw;
    height: 16vw;
    background-color: var(--color-destaque);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: explo1 2s infinite;
}

.explosionSolar2{
    width: 16vw;
    height: 16vw;
    background-color: var(--color-destaque);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

    animation: explo2 2s infinite;
}

@keyframes explo1 {
    50%{
        transform: translate(-50%, -50%) scale(0.8);
    }
    
}


@keyframes explo2 {
    50%{
        transform: translate(-50%, -50%) rotate(45deg) scale(0.8);
    }
    
}



@media screen and (max-width: 630px){
    #Apresent{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #newSun{
        width: 50vw;
        height: 50vw;
    }

    .explosionSolar1{
        width: 40vw;
        height: 40vw;
        background-color: var(--color-destaque);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        animation: explo1 2s infinite;
    }
    
    .explosionSolar2{
        width: 40vw;
        height: 40vw;
        background-color: var(--color-destaque);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    
        animation: explo2 2s infinite;
    }

    @keyframes explo1 {
        50%{
            transform: translate(-50%, -50%) scale(0.8);
        }
        
    }
    
    @keyframes explo2 {
        50%{
            transform: translate(-50%, -50%) rotate(45deg) scale(0.8);
        }
        
    }


    #javaScriptPlanet, #cssPlanet, #htmlPlanet{
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        position: absolute;
    }


    #htmlPlanet {
  
        top: 4vw;
        left: -2.5vw;
        transform: translateY(-50%);
    }
    
    #cssPlanet{
        
        top: 5vw;
        left: 52vw;
        transform: translateY(-50%);
    }
    
    #javaScriptPlanet{
        
        top: 67vw;
        left: 7vw;
        transform: translateY(-50%);
    }
    


    
    #HTMLOrbit {
    width: 65vw;
    height: 65vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }   


    #CSSOrbit {
    width: 75vw;
    height: 75vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }


    #javaScriptOrbit {
    width: 85vw;
    height: 85vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

}


.Universe {
    font-weight: bold;
    background: linear-gradient(to right, #000428, #004e92, #6a0572, #a4508b, #ffcc70);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
    background-size: 300% 100%; /* Aumenta o tamanho do gradiente */
  
    animation: universe 6s ease-in-out infinite;  /* Transição suave com easing */
}

@keyframes universe {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 100%; /* Gradiente atinge o meio */
    }
    100% {
        background-position-x: 0%; /* Volta ao início */
    }
}



/*Sobre Mim*/

#SobreMim{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10vh;
    padding-bottom: 10vh;
}


.SobreMimLeft, .fotoPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
}



#photoMe{
    width: 25vw;
    z-index: 1;
    border-radius: 100% 100% 100% 100%;
    transition: 0.3s;
}

#photoMe:hover{
    cursor: pointer;

    transform: scale(1.1);
}




.SobreMimRigth{
    width: 30em;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:left;
    gap: 2vh;
}




@media screen and (max-width: 730px){
    #SobreMim{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: none;
        gap: 40px;

    }

    #photoMe{
         height: 50vh;
        width: auto;
    }

    .SobreMimText{
        font-size: 2.5vw;
        width: 80vw;
    }

    .SobreMimRigth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    
}


/*Conhsecimentos*/

#Conhecimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;

    height: auto;
}

#Conhecimentos h1{
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.contentConhecimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-bottom: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 30px;
}

.cardC{
    width: 16em;
    height: 20em;
    border: 3px solid var(--cor-letra);
    border-radius: 10px;
    background-color: var(--color-background-t);
    filter: contrast(0.01) brightness(0.5);
    filter: contrast(1) brightness(1);
    transition: 0.3s;
}

.cardC:hover{
    
    cursor: pointer;
    transform: scale(1.1);
    
}

.contentC{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    justify-content: space-evenly;

}


.logoC img{
    width: 150px;
    height: 150px;
}

.textoC{

    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.descricaoC{
    text-align: center;
    padding: 5px;
    
}


/* Projetos */



#Projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

#Projetos h1 {
    margin-top: 7vh;
    margin-bottom: 7vh;
}


.contentProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-bottom: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 30px;
}


.cardP {
    width: 20em; 
    height: 25em; 
    border: 3px solid var(--cor-letra);
    border-radius: 10px;
    
    overflow: hidden; 
    transition: 0.3s;
}

.cardP:hover {
  
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--color-background-t);
    
}


.contentP {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}


.logoP img {
    width: 100%;
    max-height: 180px;
    object-fit: cover; 
    border-bottom: 1px solid var(--cor-letra);
}

.textoP {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.tituloP h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.descricaoP {
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
}


.btnProjeto {
    text-decoration: none;
    color: var(--cor-letra);
    border: 1px solid var(--cor-letra);
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
    margin-top: 10px;
}

.btnProjeto:hover {
    background-color: var(--cor-letra);
    color: var(--color-background); 
}


/* CONTATOS */

#Contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

#Contatos h1 {
    margin-top: 7vh;
}

.contentContatos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vibraCell{
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


#Cell{
    width: 400px;
    height: 500px;
    position: relative;
    transform: perspective(1000px) rotateY(0deg) rotateZ(0deg);

}


.formasDeContato{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 20px;  
    margin-bottom: 50px;
}



#Telefone{
    width: 100px;
    height: auto;
    position: absolute;

    z-index: 1;

    animation: balanco 5s infinite;
    
}

#Instag{
    fill: var(--cor-letra);
}


.forma{
    display: flex;
    align-items: center;
    gap: 20px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.forma:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.LogoCont{
    position: relative;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}



@media (max-width: 768px) {
    .vibraCell, .formasDeContato {
        width: 100%; 
    }

    .astroHead{
        margin-bottom: 50px; 
        margin-top: 50px;
    }

    .formasDeContato {
        flex-direction: column;
        align-items: center;
    }

    #Cell {
        width: 100%;   
        height: auto;
        max-width: 300px; 
    }
}



.partes{
    background-color: white;
}

.basesDoCelular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bases{
    width: 220px;
    height: 15px;
    border-radius: 20%;

}

.bases.encima{
    transform: translateY(54px) rotateX(-90deg);
}

.bases.debaixo{
    transform: translateY(-54px) rotateX(90deg);
}



:root {
  --w: 220px; 
  --h: 220px;
  --z: 110px; 
}


.astroHead{
  perspective: 1200px;
  width: 60%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.astroHead:hover .face {
  cursor: pointer;
}

#cabecaCompleta{
  width: var(--w);
  height: var(--h);
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  
  align-items: center;
}



.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, #323232, #0f0f0f);
  border: 1px solid #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: visible;

}


.front{ 
    transform: translateZ(var(--z)); 
}

.back{ 
    transform: rotateY(180deg) translateZ(var(--z)); 
}

.right{ 
    width: calc(var(--z) * 2); right: calc(var(--z) * -1); transform: rotateY(90deg); 
}

.left{ 
    width: calc(var(--z) * 2); left: calc(var(--z) * -1); transform: rotateY(-90deg); 
}

.top { 
    height: calc(var(--z) * 2); top: calc(var(--z) * -1); transform: rotateX(90deg); 
}

.bottom{ 
    height: calc(var(--z) * 2); bottom: calc(var(--z) * -1); transform: rotateX(-90deg); 
}




@media (max-width: 768px) {
    .astroHead{ transform: scale(0.7); height: 400px; }
}



.olhos{
    display: flex;
    justify-content: space-around;
    width: 70%;
    animation: piscar 3s infinite;
}

@keyframes piscar {
    0%, 96% {
        transform: scaleY(1);
    }
    98% {
        transform: scaleY(0.1);
    }
    
    100%{
        transform: scaleY(1);
    }
}

.olho{
    width: 50px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    transition: 0.1s ease;
}

.pupila{
    width: 25px;
    height: 35px;
    background-color: black;
    position: absolute;
}


.olho.feliz{



    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border-top: 4px solid white;


    border-radius: 50%;
}