header{
    background-color: black;
    width: 100%;
    height: 10%;
}

.Separador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    margin-left: 20px;
    margin-right: 20px;
}

.title{
    font-size: 150%;
}

.navigation{
    display: flex;
    gap: 20px;

    transition: 0.15s;
}

.navigation a{
    transition: 0.15s;
}
    


.navigation a:hover{
    color: blue;
    
}



.Logos{
    display: flex;
    gap: 10px;
}


ul{
    list-style: none;
    padding: 0;
}

.Logo{
    position: relative;
    width: 35px;
    height: 35px;

    background-color: black;
    border-radius: 80%;

    transition: all 0.15s ease-in-out;
}


#Instagram{
   
    fill: #0300a0;
}

#GitHub{
   
    fill: #0300a0;
}


.Logo:hover{
    transform: translateY(-2px);
}

#Instagram:hover{
    
    fill: #E1366C;
}

#GitHub:hover{
 
    fill: white;
}






